@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="bg-primary text-warning fs-1 p-3">WVU Tech Graduating Class</div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card mt-3">
                <div class="row p-3">
                    <div class="col-8 fw-bold">Janet Goodall</div>
                    <div class="col-4 text-end">GPA 3.45</div>
                </div>
                <div class="m-auto">
                    <img src="~/images/student.jpg" />
                </div>
                <div class="text-center p-3">2025</div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mt-3">
                <div class="row p-3">
                    <div class="col-8 fw-bold">Bigfoot</div>
                    <div class="col-4 text-end">GPA ???</div>
                </div>
                <div class="m-auto">
                    <img src="~/images/bigfoot.jpg" />
                </div>
                <div class="text-center p-3">????</div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mt-3">
                <div class="row p-3">
                    <div class="col-8 fw-bold">Slim Pickins</div>
                    <div class="col-4 text-end">GPA 1.02</div>
                </div>
                <div class="m-auto">
                    <img src="~/images/graduate.jpg" />
                </div>
                <div class="text-center p-3">2025</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card mt-3">
                <div class="row p-3">
                    <div class="col-8 fw-bold">Computer Wizard</div>
                    <div class="col-4 text-end">GPA 3.6</div>
                </div>
                <div class="m-auto">
                    <img src="~/images/harry_potter.jpg" />
                </div>
                <div class="text-center p-3">2025</div>
            </div>
        </div>
    </div>
</div>