@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="border: solid 1px black">Use this page to detail your site's privacy policy.</p>
<p class="my-para">test</p>
<p class="border-black text-center p-1 m-2">bootstrap</p>
